# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django spécifique
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Configuration liée à l'environnement (Variables d'activation)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files (si vous utilisez collectstatic en local)
staticfiles/

# Pytest & Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# OS généré
.DS_Store
Thumbs.db