{% extends 'base.html' %}
{% load static %}

{% block title %} opyc | start study {% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'core/css/list.css' %}" />

<div class="container p-4">
  <h2 class="display-6 fw-bold">
    Many categories added taught by qualified teachers
  </h2>
  <p>Just choose which course you want and start study.</p>

  <hr style="margin: auto" width="50%" noshade="noshade" />

  <div class="mt-4 category_list_and__course">

    <div class="accordion accordion-flush" id="accordionFlushExample">

      {% for cats in categories %}
      <div class="accordion-item {% if forloop.counter > 3 %}extra-category d-none{% endif %}">
        
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed text-uppercase fs-5"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse-{{ cats.slug }}"
            aria-expanded="false"
            aria-controls="flush-collapse-{{ cats.slug }}"
          >
            {{ cats.name }}
          </button>
        </h2>

        <div
          id="flush-collapse-{{ cats.slug }}"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            {% for module in cats.modules.all %}
            <a
              role="button"
              class="d-inline-block fs-6 text-decoration-none text-dark p-3 border mb-2"
              href="{% url 'course_list' cats.slug module.slug %}"
            >
              {{ module.name }}
            </a>
            {% empty %}
              <span>no module.</span>
            {% endfor %}
          </div>
        </div>

      </div>
      {% endfor %}

    </div>

    {% if categories|length > 3 %}
    <div class="text-center mt-3">
      <button 
        id="btn-toggle"
        class="btn btn-outline-warning rounded-0">
        Voir +
      </button>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
  const btn = document.getElementById('btn-toggle')
  const extraCats = document.querySelectorAll('.extra-category')

  if (btn) {
    btn.addEventListener("click", function () {

      extraCats.forEach(cat => {
        cat.classList.toggle('d-none')
      })

      btn.textContent = 
        btn.textContent.trim() === "Voir +" 
        ? "Voir -" 
        : "Voir +"
    })
  }
</script>
{% endblock %}