* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #333;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.start,
.home,
.create {
  text-decoration: none;
  background-color: rgb(0, 128, 98);
  color: whitesmoke;
  padding: 12px 20px; /* 12px haut/bas, 20px gauche/droite */
  display: flex; /* Flex aussi pour aligner l'icône et le texte */
  align-items: center;
  gap: 8px; /* Espace entre l'icône et le mot (home, login...) */
}

#login {
  text-decoration: none;
  background-color: rgb(0, 128, 98);
  color: whitesmoke;
  padding: 12px 20px; /* 12px haut/bas, 20px gauche/droite */
  display: flex; /* Flex aussi pour aligner l'icône et le texte */
  align-items: center;
  gap: 8px; /
}

#login:hover {
  background-color: black;
}

.user__is_logged {
  border: 1px solid #555;
  padding: 12px 20px;
}

.start:hover,
.home:hover,
.login:hover .create:hover {
  /* filter: brightness(1.2); */
  background-color: black;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
  padding: 20px;
}

footer {
  padding: 20px;
  flex-shrink: 0;
  text-align: left; /* Garde le footer à gauche comme demandé */
  border-top: 1px solid #eee;
  font-size: 13px;
}

footer a {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(0, 128, 83);
}
